ul.order-res li{
    float:left;
}
ul.order-statistics{
   margin-left:10px;
    display:block;
}
ul.order-statistics li{
    float:left;
    margin-right:15px;
}
ul.history_list li{
    margin-right:5px;
}
ul.history_list span{
    margin-right:5px;
}
ul.history_list span.match-date{
    float:right;
}
/*投注页面标记*/
form.remark-info{
    margin-left:-15px;
    margin-right:-15px;
}